@font-face {
    font-family: 'Inter', sans-serif;
    src: url(./Inter-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(./Inter-Black.woff2) format("woff2");
    font-weight: 900;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(./Inter-Bold.woff2) format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(./Inter-ExtraBold.otf) format("otf");
    font-weight: 800;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(./Inter-Medium.woff2) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(./Inter-SemiBold.woff2) format("woff2");
    font-weight: 600;
}